
/*index*/

#img-link, #image-container, #image-slide{
  display:none;
}

/*centers div vertically and horizontally*/
#click-container{
  display: flex;
   align-items: center;
   justify-content: center;
}

html, body, #click-container{
    height: 100%;
}
/*end of centers div vertically and horizontally*/
#click-link{
  color:#555;
  cursor: pointer;
  cursor: hand;
}

@media (orientation: portrait) {
  #click-container {
    display:none;
  }
  #rotateQ{
    display:block;
  }

  /*body {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }*/
}

@media (orientation: landscape) {
  #click-container {
    display:block;
  }
  #rotateQ{
    display:none;
  }
}

#rotateQ{
  display:none;
}
