
/*index*/

/*centers div vertically and horizontally*/
#click-container{
  display: flex;
   align-items: center;
   justify-content: center;
   /*height: 100%;*/
}

html, body, #click-container {
    height: 100%;
}
/*end of centers div vertically and horizontally*/
#click-link{
  color:#555;
}
