
/*index*/

#img-link, #image-container, #image-slide{
  display:none;
}

/*centers div vertically and horizontally*/
#click-container{
  display: flex;
   align-items: center;
   justify-content: center;
}

html, body, #click-container{
    height: 100%;
}
/*end of centers div vertically and horizontally*/
#click-link{
  color:#555;
  cursor: pointer;
  cursor: hand;
}
