
 /*upload*/
#previewPic{
  display:none;
}

.form-control {
  margin: 1.5em auto 0 auto;
}

.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

.formy{
  text-align: center;
  max-width: 450px;
  margin: auto;
  height: 90vh;
    /*position: relative;*/
    padding: 15px;
}

#checkbox-q{
  color:#555;
}

/*data*/
.upload-image{
  height: 18em;
  max-width:100%;
}

@media(max-width: 768px) {
  .upload-image{
    height: auto;
  }
}

#data-spiel{
  font-size:20px;
}
/*data end*/
